*.suo
*.ilk
*.pdb
*.sdf
*.obj
*.idb
*.tlog
*.user
*.log

engine/lib/win32_vs10/Debug/*
engine/build/win32_vs10/obj/*
engine/lib/win32_vs13/Debug/*
engine/build/win32_vs13/obj/*

Tools/TmxMapViewer/build/Debug/*


Tutorials/1_TemplateProject/build/win32_vs10/Debug/*
Tutorials/1_TemplateProject/build/win32_vs10/*.txt

Tutorials/2_LowLevelDraw/build/win32_vs10/Debug/*
Tutorials/2_LowLevelDraw/build/win32_vs10/*.dat
Tutorials/2_LowLevelDraw/build/win32_vs10/*.png

Tutorials/3_SimpleMap/build/win32_vs10/Debug/*
Tutorials/3_SimpleMap/build/win32_vs10/*.png

Tutorials/4_TmxMapLoading/build/win32_vs10/Debug/*
Tutorials/4_TmxMapLoading/build/win32_vs10/*.png
Tutorials/4_TmxMapLoading/build/win32_vs10/*.txt
Tutorials/4_TmxMapLoading/build/win32_vs10/*.tmx

Tutorials/5_CustomMapCreation/build/win32_vs10/Debug/*
Tutorials/5_CustomMapCreation/build/win32_vs10/*.png
Tutorials/5_CustomMapCreation/build/win32_vs10/*.txt
Tutorials/5_CustomMapCreation/build/win32_vs10/*.tmx

Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs10/Debug/*
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs10/*.png
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs10/*.txt
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs10/*.tmx

Tutorials/7_SpriteAnimation/build/win32_vs10/Debug/*
Tutorials/7_SpriteAnimation/build/win32_vs10/*.png
Tutorials/7_SpriteAnimation/build/win32_vs10/*.txt
Tutorials/7_SpriteAnimation/build/win32_vs10/*.tmx
Tutorials/7_SpriteAnimation/build/win32_vs10/*.dat

Tutorials/8_OwnGameObjectTypes/build/win32_vs10/Debug/*
Tutorials/8_OwnGameObjectTypes/build/win32_vs10/*.png
Tutorials/8_OwnGameObjectTypes/build/win32_vs10/*.txt
Tutorials/8_OwnGameObjectTypes/build/win32_vs10/*.tmx

ExampleGames/YA-Arkanoid/build/win32_vs10/Debug/*
ExampleGames/YA-Arkanoid/build/win32_vs10/*.png
ExampleGames/YA-Arkanoid/build/win32_vs10/*.txt
ExampleGames/YA-Arkanoid/build/win32_vs10/*.tmx


Tutorials/1_TemplateProject/build/win32_vs13/Debug/*
Tutorials/1_TemplateProject/build/win32_vs13/*.txt

Tutorials/2_LowLevelDraw/build/win32_vs13/Debug/*
Tutorials/2_LowLevelDraw/build/win32_vs13/*.dat
Tutorials/2_LowLevelDraw/build/win32_vs13/*.png

Tutorials/3_SimpleMap/build/win32_vs13/Debug/*
Tutorials/3_SimpleMap/build/win32_vs13/*.png

Tutorials/4_TmxMapLoading/build/win32_vs13/Debug/*
Tutorials/4_TmxMapLoading/build/win32_vs13/*.png
Tutorials/4_TmxMapLoading/build/win32_vs13/*.txt
Tutorials/4_TmxMapLoading/build/win32_vs13/*.tmx

Tutorials/5_CustomMapCreation/build/win32_vs13/Debug/*
Tutorials/5_CustomMapCreation/build/win32_vs13/*.png
Tutorials/5_CustomMapCreation/build/win32_vs13/*.txt
Tutorials/5_CustomMapCreation/build/win32_vs13/*.tmx

Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs13/Debug/*
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs13/*.png
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs13/*.txt
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs13/*.tmx

Tutorials/7_SpriteAnimation/build/win32_vs13/Debug/*
Tutorials/7_SpriteAnimation/build/win32_vs13/*.png
Tutorials/7_SpriteAnimation/build/win32_vs13/*.txt
Tutorials/7_SpriteAnimation/build/win32_vs13/*.tmx
Tutorials/7_SpriteAnimation/build/win32_vs13/*.dat

Tutorials/8_OwnGameObjectTypes/build/win32_vs13/Debug/*
Tutorials/8_OwnGameObjectTypes/build/win32_vs13/*.png
Tutorials/8_OwnGameObjectTypes/build/win32_vs13/*.txt
Tutorials/8_OwnGameObjectTypes/build/win32_vs13/*.tmx

ExampleGames/YA-Arkanoid/build/win32_vs13/Debug/*
ExampleGames/YA-Arkanoid/build/win32_vs13/*.png
ExampleGames/YA-Arkanoid/build/win32_vs13/*.txt
ExampleGames/YA-Arkanoid/build/win32_vs13/*.tmx



*.o
*.d
*.a
