*.suo
*.ilk
*.pdb
engine/lib/win32_vs10/Debug/*
engine/build/win32_vs10/obj/*
Tutorials/1_TemplateProject/build/win32_vs10/Debug/*
Tutorials/2_LowLevelDraw/build/win32_vs10/Debug/*
Tutorials/3_SimpleMap/build/win32_vs10/Debug/*
Tutorials/4_TmxMapLoading/build/win32_vs10/Debug/*
Tutorials/5_CustomMapCreation/build/win32_vs10/Debug/*
Tutorials/6_ObjectMoveAndMouseLookAt/build/win32_vs10/Debug/*
Tutorials/7_SpriteAnimation/build/win32_vs10/Debug/*
Tutorials/8_OwnGameObjectTypes/build/win32_vs10/Debug/*
ExampleGames/YA-Arkanoid/build/win32_vs10/Debug/*
Tools/TmxMapViewer/build/Debug/*
*.sdf
